* {
    color: #404040 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

.table {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    border-collapse: collapse; 
}

.table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: transparent;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #dee2e6;
    box-shadow: inset 0 0 0 9999px transparent;
}

.table thead th {
    vertical-align: bottom;
    border-bottom-color: #495057;
    text-align: inherit;
    font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

body {
    background: #eafaea;
}

button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff !important;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: #198754;
    border: 1px solid #198754;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, 
                background-color .15s ease-in-out, 
                border-color .15s ease-in-out, 
                box-shadow .15s ease-in-out;
}

button:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

button:active {
    filter: brightness(0.9);
}

button:hover {
    background-color: #157347;
    border-color: #146c43;
}

#header {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background: #c2f0c2;
}

#header h1 {
    display: inline-flex;
    flex-direction: row;
    font-size: 25px;
    margin: 10px;
    text-transform: uppercase;
}

#header nav {
    display: inline-flex;
    justify-content: flex-end;
    float: right;
}

#header nav a {
    margin: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.error {
    color: #e60000 !important;
}

.table * {
    background-color: #eafaea !important;
}

#login-form {
    display: block;
    margin: 0 auto;
    width: 50%;
}

#login-form h2 {
    text-align: center;
}

#login-form form * {
    display: block;
    margin: 5px auto;
    text-align: center;
    font-size: 17px;
}

#registration-form {
    display: block;
    margin: 0 auto;
    width: 50%;
}

#registration-form h2 {
    text-align: center;
}

#registration-form form * {
    display: block;
    margin: 5px auto;
    text-align: center;
    font-size: 17px;
}

#my-dates header {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background: #c2f0c2;
}

#my-dates header h2 {
    display: inline-flex;
    flex-direction: row;
    font-size: 23px;
    margin: 10px;
}

#my-dates header form {
    display: inline-flex;
    float: right;
    margin: 10px;
}

#my-dates header form button {
    font-size: 17px;
}

#dates-form h2 {
    font-size: 23px;
    text-align: center;
}

#dates-form form * {
    display: block;
    margin: 5px auto;
    text-align: center;
    font-size: 17px;
}

#all-events header {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background: #c2f0c2;
}

#all-events header h2 {
    display: inline-flex;
    flex-direction: row;
    font-size: 23px;
    margin: 10px;
}

#all-events header form {
    display: inline-flex;
    float: right;
    margin: 10px;
}

#all-events header form button {
    font-size: 17px;
}

#user-details * {
    text-align: center;
}

#user-details h2 {
    font-size: 23px;
}

#user-details h3 {
    font-size: 20px;
}

#change-password-form {
    display: block;
    margin: 0 auto;
    width: 50%;
}

#change-password-form h2 {
    text-align: center;
}

#change-password-form form * {
    display: block;
    margin: 5px auto;
    text-align: center;
    font-size: 17px;
}

#event-details * {
    text-align: center;
}

#event-details h2 {
    font-size: 23px;
}

#event-details h3 {
    font-size: 20px;
}
