* {
    color: #404040;
}

body {
    background: #eafaea;
}

header {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background: #c2f0c2;
}

header h1 {
    display: inline-flex;
    flex-direction: row;
    font-size: 25px;
    margin: 10px;
    text-transform: uppercase;
}

header nav {
    display: inline-flex;
    justify-content: flex-end;
    float: right;
}

header nav a {
    margin: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.error {
    color: #e60000;
}

#login-form {
    display: block;
    margin: 0 auto;
    width: 50%;
}

#login-form h2 {
    text-align: center;
}

#login-form form * {
    display: block;
    margin: 5px auto;
    text-align: center;
    font-size: 17px;
}