* {
    color: #404040 !important;
}

body {
    background: #eafaea;
}

#header {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background: #c2f0c2;
}

#header h1 {
    display: inline-flex;
    flex-direction: row;
    font-size: 25px;
    margin: 10px;
    text-transform: uppercase;
}

#header nav {
    display: inline-flex;
    justify-content: flex-end;
    float: right;
}

#header nav a {
    margin: 15px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.error {
    color: #e60000 !important;
}

.table * {
    background-color: #eafaea !important;
}

#login-form {
    display: block;
    margin: 0 auto;
    width: 50%;
}

#login-form h2 {
    text-align: center;
}

#login-form form * {
    display: block;
    margin: 5px auto;
    text-align: center;
    font-size: 17px;
}

#registration-form {
    display: block;
    margin: 0 auto;
    width: 50%;
}

#registration-form h2 {
    text-align: center;
}

#registration-form form * {
    display: block;
    margin: 5px auto;
    text-align: center;
    font-size: 17px;
}

#my-dates header {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background: #c2f0c2;
}

#my-dates header h2 {
    display: inline-flex;
    flex-direction: row;
    font-size: 23px;
    margin: 10px;
}

#my-dates header form {
    display: inline-flex;
    float: right;
    margin: 10px;
}

#my-dates header form button {
    font-size: 17px;
}

#dates-form h2 {
    font-size: 23px;
    text-align: center;
}

#dates-form form * {
    display: block;
    margin: 5px auto;
    text-align: center;
    font-size: 17px;
}

#all-events header {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background: #c2f0c2;
}

#all-events header h2 {
    display: inline-flex;
    flex-direction: row;
    font-size: 23px;
    margin: 10px;
}

#all-events header form {
    display: inline-flex;
    float: right;
    margin: 10px;
}

#all-events header form button {
    font-size: 17px;
}